


<!--The height, width and scroll control for these canvas are set from javascript-->
<canvas id="mapHeader"></canvas>
<canvas id="map"></canvas>
<canvas id="mapServices"></canvas>


<div id="title">
    <div id="teamName"></div>
    <div id="activeServices"></div>
    <div id="clickInfo">(click on image for info)</div>
</div>


<div id="infoPopup">
    <a class="b-close"><img src="../bpopup/close-button.png" width="30"></a>

    <div class="infoContainer">
        <div class="infoLine">
            <div class="item">Status:</div>
            <div id="status"></div>
        </div>
        <div class="infoLine">
            <div class="item">Service:</div>
            <div id="service"></div>
        </div>
        <div class="infoLine">
            <div class="item">Host:</div>
            <div id="host"></div>
        </div>
        <div class="infoLine">
            <div class="item">Time:</div>
            <div id="time"></div>
        </div>
        <div class="infoLine">
            <div class="item">Message:</div>
            <div id="message" class="message"></div>
        </div>
    </div>
</div>

